/*Remove Local SEO look*/
#seops_local_seo-2 { 
  display:none;}

.stripe-button-el span
{
    border-width: 7px!important;
    border-color: #f4af00!important;
    border-radius: 38px!important;
    letter-spacing: 2px!important;
    font-size: 23px!important;
    text-transform: uppercase!important;
  color: #ffffff!important;
}
/*Remove Project Margin at the bottom*/
.single .et_pb_post {
  margin-bottom: 0px; }